/***************************************************************************************/
/** Het kleurenpalet dat wordt gebruikt: http://www.color-hex.com/color-palette/40139 **/
/** en http://www.color-hex.com/color-palette/40086                                   **/
/**                                                                                   **/
/** Achtergrondkleur: #F5F0E6                                                         **/
/** Kleuren voor <h1> t/m <h6>: #D2323F                                               **/
/** Kleur voor de tekst: #222 (niet bij palet, maar zwart is een goede tekstkleur)    **/
/** Kleur voor links: #141C64, #588192 en #305078                                     **/
/** Kleur voor .main_div: #F0E5E5                                                     **/
/** Lijnen: #909092                                                                   **/
/** Navigatie: N.N.T.B.                                                               **/
/***************************************************************************************/

/* De hoofdstijl voor <body> */
body {
  background-color: #F5F0E6;
  font-family: Tahoma, Geneva, sans-serif;
  color: #222;
}

/* Hoofdstijl voor <h1> t/m <h6> */
h1 {
  color: #D2323F;
  font-size: 300%;
  width: 85%;
  margin-left: 7.5%;
  border-bottom: 5px solid #D2323F;
  text-align: center;
}

h2 {
  color: #D2323F;
  font-size: 266%;
  width: 85%;
  margin-left: 7.5%;
  border-bottom: 5px solid #D2323F;
  text-align: center;
}

h3 {
  color: #D2323F;
  font-size: 230%;
  margin-left: 7.5px;
}

h4 {
  color: #D2323F;
  font-size: 190%;
  margin-left: 7.5px;
}

h5 {
  color: #D2323F;
  font-size: 140%;
  margin-left: 7.5px;
}

h6 {
  color: #D2323F;
  font-size: 110%;
  margin-left: 7.5px;
}

p {
  margin: 15px 5px;
  padding: 5px;
}

hr {
  border: 3px solid #909092;
  width: 85%;
}

legal {
  font-size: 75%;
  line-height: 12px;
  font-weight: bold;
}

/* Hoofdstijl voor de hoofddiv */
.main_div {
  width: 75%;
  margin: 0.625em 12.5%;
  background-color: #F0E5E5;
}

/* Hoofdstijl voor de zijbalk links */
.side_nav_left {
  width: 10%;
  margin: 0.625em 1.125%;
  background-color: #F0E5E5;
  float: left;
  position: fixed;
  overflow-y: scroll;
}

.side_nav_left p {
  font-weight: bold;
  font-size: 90%;
  text-align: center;
}

/* Links */
.side_nav_left a {
  display: block;
  padding: 12px;
  text-decoration: none;
  font-size: 90%;
} 

/* Wanneer de muis erop */
.side_nav_left a:hover {
  bakcground-color: #C0B7B7;
}

/* Hoofdstijl voor de zijbalk rechts */
.side_nav_right {
  width: 10%;
  margin: 0.625em 1.125%;
  background-color: #F0E5E5;
  float: right;
  text-align: right;
  position: fixed;
  overflow-y: scroll;
}

.side_nav_right p {
  font-weight: bold;
  font-size: 90%;
  text-align: center;
}

/* Links */
.side_nav_right a {
  display: block;
  padding: 12px;
  text-decoration: none;
  font-size: 90%;
} 

/* Wanneer de muis erop */
.side_nav_right a:hover {
  bakcground-color: #C0B7B7;
}